@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f8f8;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@layer base {
  li{
    @apply p-4
  }
}